<div class="row pd-top-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            DetailCtrl管理
        </div>
        <div class="panel-body" style="border:1px solid #858585; margin: 2%;">
            <form role="form" class="form-horizontal" name="ngForm" novalidate>
          
          
                    <div class="form-group">
                    <label class="col-md-2 control-label">自增长ID名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.id" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">自增长ID不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">关联user表id名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.userId" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">关联user表id不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">关联invest_record表id名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.investRecordId" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">关联invest_record表id不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">还款时间名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.repaymentDate" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">还款时间不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">还款金额名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.repaymentAmount" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">还款金额不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">金额属性(利息,本金)名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.moneyType" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">金额属性(利息,本金)不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">还款状态(未还款,已还款,已续投)名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.repaymentStatus" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">还款状态(未还款,已还款,已续投)不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">创建时间名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.createAt" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">创建时间不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">更新时间名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.updateAt" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">更新时间不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">创建人id名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.createBy" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">创建人id不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">更新人id名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.updateBy" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">更新人id不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                          
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-sm" ng-if="vm.status==2" ng-click="vm.update()" ng-disabled="ngForm.$invalid">保存</button>
                        <button class="btn btn-success btn-sm" ng-if="vm.status==1&&globalPermission.updated" ng-click="vm.edit()">编辑</button>
                        <button class="btn btn-success btn-sm" ng-if="vm.status==3" ng-click="vm.add()" ng-disabled="ngForm.$invalid">新增</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-sm" ng-if="vm.status==2||vm.status==3"
                                ng-click="vm.cancel()">取消
                        </button>
                        <button class="btn btn-default btn-sm" ng-if="vm.status==1" ng-click="vm.cancel()">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
