<div class="row pd-top-2">
    <div class=" col-md-12 pd-top-2 pd-bottom-2  panel panel-default">
        <form class="form-inline form-search" role="form">
           
           
                        <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">自增长ID名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.id">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">手机号码名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.phoneNum">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">密码名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.pswd">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">盐值名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.salt">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">理财经理工号名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.managerNum">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">真实姓名名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.name">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">总资产名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.totalProperty">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">总收益名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.income">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">帐户状态名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.accountsStatus">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">详情地址名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.address">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">电子邮箱名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.email">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">身份证正面名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.IDCardFornt">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">身份证反面名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.IDCardBack">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">身份证号码名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.IDCard">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">实名状态名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.identityStatus">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">拒绝理由名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.refuseReason">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">被拒绝状态(1代表非第一次)名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.refuseStatus">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">申请实名时间名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.identityTime">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">默认银行卡(关联user_bank_id)名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.userBankId">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">创建时间名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.createAt">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">更新时间名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.updateAt">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">创建人id名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.createBy">
            </div>
                 
                      <div class="form-group col-md-4 col-md-offset-1">
                <label class="control-label">更新人id名称：</label>
                <input type="text" class="form-control" ng-model="vm.params.updateBy">
            </div>
                 
                     
         
           
            <div class="form-group col-md-6 col-md-offset-1">
         
                <button class="btn btn-primary pull-right"style="margin-right: 2%;"
                        ng-click="vm.search()">查询
                </button>
                <button class="btn btn-primary pull-right"
                        ng-if="vm.hasParent" ng-click="vm.research()"
                        style="margin-right:2%;">重置
                </button>

            </div>
        </form>
    </div>

    <div class="row">
        <div class=" col-md-12 ">
            <div class="  panel panel-default">
                <div class="panel-heading">
                
                
                    管理
                    <div class="btn-group pull-right" ng-if="vm.params.id">
                        <div class="btn btn-primary btn-xs" ng-if="globalPermission.created" ui-sref="field.user()">
                            <i class="fa fa-plus-square fa-fw"></i>
                            新增
                        </div>
                    </div>
           
                    
                    
                    
                    
                </div>

                <div class="panel-body">
                    <ul class="ul-table-head row">
                        <li>
                        
                            <div class="three1 text-center">序号</div>
                                                                                           <div class="three1 text-center">自增长ID</div>  
                                                                                                                           <div class="three1 text-center">手机号码</div>  
                                                                                                                           <div class="three1 text-center">密码</div>  
                                                                                                                           <div class="three1 text-center">盐值</div>  
                                                                                                                           <div class="three1 text-center">理财经理工号</div>  
                                                                                                                           <div class="three1 text-center">真实姓名</div>  
                                                                                                                           <div class="three1 text-center">总资产</div>  
                                                                                                                           <div class="three1 text-center">总收益</div>  
                                                                                                                           <div class="three1 text-center">帐户状态</div>  
                                                                                                                           <div class="three1 text-center">详情地址</div>  
                                                                                                                           <div class="three1 text-center">电子邮箱</div>  
                                                                                                                           <div class="three1 text-center">身份证正面</div>  
                                                                                                                           <div class="three1 text-center">身份证反面</div>  
                                                                                                                           <div class="three1 text-center">身份证号码</div>  
                                                                                                                           <div class="three1 text-center">实名状态</div>  
                                                                                                                           <div class="three1 text-center">拒绝理由</div>  
                                                                                                                           <div class="three1 text-center">被拒绝状态(1代表非第一次)</div>  
                                                                                                                           <div class="three1 text-center">申请实名时间</div>  
                                                                                                                           <div class="three1 text-center">默认银行卡(关联user_bank_id)</div>  
                                                                                                                           <div class="three1 text-center">创建时间</div>  
                                                                                                                           <div class="three1 text-center">更新时间</div>  
                                                                                                                           <div class="three1 text-center">创建人id</div>  
                                                                                                                           <div class="three1 text-center">更新人id</div>  
                                                                                         <div class="three3 text-center">操作</div>
                          
                            
                        </li>
                    </ul>
                    <ul class="ul-table" dnd-list="vm.list">
                        <li ng-repeat="item in vm.list"
                            dnd-draggable="item"
                            dnd-moved="vm.list.splice(23, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="vm.list.selected = item"
                            ng-class="{'selected': vm.list.selected === item}"
                        >
                            <div class="three1">{{23*1+1}}</div>
                                                                                           <div class="three2">{{item.id}}</div>  
                                                                                                                            <div class="three2">{{item.phoneNum}}</div>  
                                                                                                                            <div class="three2">{{item.pswd}}</div>  
                                                                                                                            <div class="three2">{{item.salt}}</div>  
                                                                                                                            <div class="three2">{{item.managerNum}}</div>  
                                                                                                                            <div class="three2">{{item.name}}</div>  
                                                                                                                            <div class="three2">{{item.totalProperty}}</div>  
                                                                                                                            <div class="three2">{{item.income}}</div>  
                                                                                                                            <div class="three2">{{item.accountsStatus}}</div>  
                                                                                                                            <div class="three2">{{item.address}}</div>  
                                                                                                                            <div class="three2">{{item.email}}</div>  
                                                                                                                            <div class="three2">{{item.IDCardFornt}}</div>  
                                                                                                                            <div class="three2">{{item.IDCardBack}}</div>  
                                                                                                                            <div class="three2">{{item.IDCard}}</div>  
                                                                                                                            <div class="three2">{{item.identityStatus}}</div>  
                                                                                                                            <div class="three2">{{item.refuseReason}}</div>  
                                                                                                                            <div class="three2">{{item.refuseStatus}}</div>  
                                                                                                                            <div class="three2">{{item.identityTime}}</div>  
                                                                                                                            <div class="three2">{{item.userBankId}}</div>  
                                                                                                                            <div class="three2">{{item.createAt}}</div>  
                                                                                                                            <div class="three2">{{item.updateAt}}</div>  
                                                                                                                            <div class="three2">{{item.createBy}}</div>  
                                                                                                                            <div class="three2">{{item.updateBy}}</div>  
                                                                                         
                           
                            
                            
                            
                            <div class="three3">
                              
                                <button class="btn btn-default btn-xs"
                                        ui-sref="field.user({id:item.id})">查看
                                </button>
                                <button class="btn btn-default btn-xs"  ng-if="globalPermission.updated"
                                        ui-sref="field.user({id:item.id})">编辑
                                </button>
                                <button class="btn btn-danger btn-xs" ng-if="globalPermission.deleted" data-toggle="modal" data-target="#myModal"
                                        ng-click="vm.del(item.id, 23)">删除
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<paging ng-if="vm.page" next="{{vm.page}}"></paging>

