<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:sca="http://www.springframework.org/schema/sca"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/sca http://www.springframework.org/schema/sca/spring-sca.xsd">

    <context:component-scan base-package="com.ptteng.polyFinance.lgd"/>


    <sca:service name="sysMessageService"
                 type="com.ptteng.polyFinance.lgd.service.SysMessageService" target="sysMessageService"/>


    <sca:service name="sysMessageReadedService"
                 type="com.ptteng.polyFinance.lgd.service.SysMessageReadedService" target="sysMessageReadedService"/>


    <sca:service name="investRecordService"
                 type="com.ptteng.polyFinance.lgd.service.InvestRecordService" target="investRecordService"/>


    <sca:service name="productService"
                 type="com.ptteng.polyFinance.lgd.service.ProductService" target="productService"/>


    <sca:service name="tradingRecordService"
                 type="com.ptteng.polyFinance.lgd.service.TradingRecordService" target="tradingRecordService"/>


    <sca:service name="debtorMatchService"
                 type="com.ptteng.polyFinance.lgd.service.DebtorMatchService" target="debtorMatchService"/>


    <sca:service name="debtorService"
                 type="com.ptteng.polyFinance.lgd.service.DebtorService" target="debtorService"/>


    <sca:service name="bankListService"
                 type="com.ptteng.polyFinance.lgd.service.BankListService" target="bankListService"/>


    <bean id="sysMessageService"
          class="com.ptteng.polyFinance.lgd.service.impl.SysMessageServiceImpl" parent="baseDaoService">

    </bean>

    <bean id="sysMessageReadedService"
          class="com.ptteng.polyFinance.lgd.service.impl.SysMessageReadedServiceImpl" parent="baseDaoService">

    </bean>

    <bean id="investRecordService"
          class="com.ptteng.polyFinance.lgd.service.impl.InvestRecordServiceImpl" parent="baseDaoService">

    </bean>

    <bean id="productService"
          class="com.ptteng.polyFinance.lgd.service.impl.ProductServiceImpl" parent="baseDaoService">

    </bean>


    <bean id="tradingRecordService"
          class="com.ptteng.polyFinance.lgd.service.impl.TradingRecordServiceImpl" parent="baseDaoService">

    </bean>

    <bean id="debtorMatchService"
          class="com.ptteng.polyFinance.lgd.service.impl.DebtorMatchServiceImpl" parent="baseDaoService">

    </bean>

    <bean id="debtorService"
          class="com.ptteng.polyFinance.lgd.service.impl.DebtorServiceImpl" parent="baseDaoService">

    </bean>


    <bean id="bankListService"
          class="com.ptteng.polyFinance.lgd.service.impl.BankListServiceImpl" parent="baseDaoService">

    </bean>


    <bean id="dao" class="com.gemantic.dal.dao.impl.CompositeDaoImpl"/>

    <bean id="baseDaoService"
          class="com.ptteng.common.dao.BaseDaoServiceImpl">
        <property name="dao" ref="dao"/>
    </bean>


    <!-- performance -->
    <aop:aspectj-autoproxy/>
    <bean id="aroundLoggingTime" class="com.gemantic.common.stat.aop.time.AroundTimeConsume"/>
    <aop:config>
        <aop:aspect ref="aroundLoggingTime">
            <aop:pointcut id="publicServiceMethod"
                          expression="execution(* com.gemantic..service.*.*(..)) "/>
            <aop:around method="around" pointcut-ref="publicServiceMethod"/>
        </aop:aspect>
    </aop:config>

</beans>

