<div class="row pd-top-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            DetailCtrl管理
        </div>
        <div class="panel-body" style="border:1px solid #858585; margin: 2%;">
            <form role="form" class="form-horizontal" name="ngForm" novalidate>
          
          
                    <div class="form-group">
                    <label class="col-md-2 control-label">自增长ID名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.id" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">自增长ID不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">城市名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.city" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">城市不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">关联bank_list表id名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.bankListId" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">关联bank_list表id不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">银行卡号名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.CardNo" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">银行卡号不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">预留手机号名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.bankPhone" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">预留手机号不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">关联user表id名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.userId" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">关联user表id不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">默认银行卡名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.first" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">默认银行卡不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">注册时间名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.createAt" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">注册时间不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">更新时间名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.updateAt" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">更新时间不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">创建人名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.createBy" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">创建人不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                    <div class="form-group">
                    <label class="col-md-2 control-label">更新人名称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-disabled="vm.noedit" name="name" placeholder="请输入"
                               ng-model="vm.params.updateBy" required>
                    </div>
                                               <div class="error" ng-messages="ngForm.name.$error" ng-if="ngForm.name.$touched">
                           <div ng-message="required">更新人不能为空</div>
                         </div>    
                                       
                </div>
          
                 
                          
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button class="btn btn-success btn-sm" ng-if="vm.status==2" ng-click="vm.update()" ng-disabled="ngForm.$invalid">保存</button>
                        <button class="btn btn-success btn-sm" ng-if="vm.status==1&&globalPermission.updated" ng-click="vm.edit()">编辑</button>
                        <button class="btn btn-success btn-sm" ng-if="vm.status==3" ng-click="vm.add()" ng-disabled="ngForm.$invalid">新增</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-sm" ng-if="vm.status==2||vm.status==3"
                                ng-click="vm.cancel()">取消
                        </button>
                        <button class="btn btn-default btn-sm" ng-if="vm.status==1" ng-click="vm.cancel()">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
